h1{
    font-size:15px black;
}

img{
    width:780px;
    Height:520px;
    width: 20%; 
    height: auto;
    float: left;
}

div{
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    left: 0;
    text-align: left;
    animation: 30s slidy infinite;
}

figure{
    position: relative;
    Width:500%;
    margin: 0;
    padding: 0;
    text-align: left;
}